.App, html, #root, body{
    padding: 0;
    margin: 0 auto;
    background-image: url(../img/milky.jpeg);
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1{
    color: white;
    padding: 100px;
}

.table {
    /* background-color: #fff; */
}

#album-table{
    height: 100px;
    text-align: center;
    margin-bottom: 100px;
    color: #fff;
    width: 1400px;
    margin-left: 8%;
}

thead .title{
    color: greenyellow;
    font-size: 20px;
}

tbody .body{
    cursor: pointer;
    transition: 0.5s;
}
tbody .body:hover{
    color: #3498db;
}

#form-button {
    margin: 70px;
    margin-left: 75%;
    padding-top: 10px;
    padding-left: 15px;
    text-align: center;
}